<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <form [formGroup]="kickingForm">
        <div class="row">
          <div class="col">
            <h3>Standard</h3>
            <div class="form-group row">
              <label for="fgMade" class="col-sm-9 col-form-label">Each FG Made</label>
              <div class="col-sm-3">
                <input style="min-width: 50px"
                       type="number"
                       id="fgMade"
                       formControlName="fgMade"
                       class="form-control">
              </div>
            </div>
            <div class="form-group row">
              <label for="patMade" class="col-sm-9 col-form-label">Each PAT Made</label>
              <div class="col-sm-3">
                <input style="min-width: 50px"
                       type="number"
                       id="patMade"
                       formControlName="patMade"
                       class="form-control">
              </div>
            </div>
            <div class="form-group row">
              <label for="patMissed" class="col-sm-9 col-form-label">Each PAT Missed</label>
              <div class="col-sm-3">
                <input style="min-width: 50px"
                       type="number"
                       id="patMissed"
                       formControlName="patMissed"
                       class="form-control">
              </div>
            </div>
            <div class="form-group row">
              <label for="fgMade40_49Yards" class="col-sm-9 col-form-label">FG Made (40-49 yards)</label>
              <div class="col-sm-3">
                <input style="min-width: 50px"
                       type="number"
                       id="fgMade40_49Yards"
                       formControlName="fgMade40_49Yards"
                       class="form-control">
              </div>
            </div>
            <div class="form-group row">
              <label for="fgMade50Yards" class="col-sm-9 col-form-label">FG Made (50+ yards)</label>
              <div class="col-sm-3">
                <input style="min-width: 50px"
                       type="number"
                       id="fgMade50Yards"
                       formControlName="fgMade50Yards"
                       class="form-control">
              </div>
            </div>
            <div class="form-group row">
              <label for="fgMissed40_49Yards" class="col-sm-9 col-form-label">FG Missed (40-49 yards)</label>
              <div class="col-sm-3">
                <input style="min-width: 50px"
                       type="number"
                       id="fgMissed40_49Yards"
                       formControlName="fgMissed40_49Yards"
                       class="form-control">
              </div>
            </div>
            <div class="form-group row">
              <label for="fgMissed50Yards" class="col-sm-9 col-form-label">FG Missed (50+ yards)</label>
              <div class="col-sm-3">
                <input style="min-width: 50px"
                       type="number"
                       id="fgMissed50Yards"
                       formControlName="fgMissed50Yards"
                       class="form-control">
              </div>
            </div>
            <div class="form-group row">
              <label for="fgMissedEach" class="col-sm-9 col-form-label">Each Missed FG</label>
              <div class="col-sm-3">
                <input style="min-width: 50px"
                       type="number"
                       id="fgMissedEach"
                       formControlName="fgMissedEach"
                       class="form-control">
              </div>
            </div>
            <div class="form-group row">
              <label for="fgMade0_39Yards" class="col-sm-9 col-form-label">FG Made (0-39 yards)</label>
              <div class="col-sm-3">
                <input style="min-width: 50px"
                       type="number"
                       id="fgMade0_39Yards"
                       formControlName="fgMade0_39Yards"
                       class="form-control">
              </div>
            </div>
            <div class="form-group row">
              <label for="fgMissed0_39Yards" class="col-sm-9 col-form-label">FG Missed (0-39 yards)</label>
              <div class="col-sm-3">
                <input style="min-width: 50px"
                       type="number"
                       id="fgMissed0_39Yards"
                       formControlName="fgMissed0_39Yards"
                       class="form-control">
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
