<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <form [formGroup]="recievingForm">
        <div class="row">
          <div class="col">
            <h3>Standard</h3>
            <div class="form-group row">
              <label for="recPointPerRec" class="col-sm-9 col-form-label">Points Per Reception</label>
              <div class="col-sm-3">
                <input style="min-width: 50px"
                       type="number"
                       id="recPointPerRec"
                       formControlName="recPointPerRec"
                       class="form-control">
              </div>
            </div>
            <div class="form-group row">
              <label for="recYardsPerPoint" class="col-sm-9 col-form-label">Recieving Yards per Point</label>
              <div class="col-sm-3">
                <input style="min-width: 50px"
                       type="number"
                       id="recYardsPerPoint"
                       formControlName="recYardsPerPoint"
                       class="form-control">
              </div>
            </div>
            <div class="form-group row">
              <label for="recTD" class="col-sm-9 col-form-label">TD Recieving</label>
              <div class="col-sm-3">
                <input style="min-width: 50px"
                       type="number"
                       id="recTD"
                       formControlName="recTD"
                       class="form-control">
              </div>
            </div>
            <div class="form-group row">
              <label for="rec2ptConversion" class="col-sm-9 col-form-label">2pt Conversion</label>
              <div class="col-sm-3">
                <input style="min-width: 50px"
                       type="number"
                       id="rec2ptConversion"
                       formControlName="rec2ptConversion"
                       class="form-control">
              </div>
            </div>
            <div class="form-group row">
              <label for="recFumblesLost" class="col-sm-9 col-form-label">Recieving Fumbles Lost</label>
              <div class="col-sm-3">
                <input style="min-width: 50px"
                       type="number"
                       id="recFumblesLost"
                       formControlName="recFumblesLost"
                       class="form-control">
              </div>
            </div>
            <h3>Bonus</h3>
            <div class="form-group row">
              <label for="bonus40YardRecTd" class="col-sm-9 col-form-label">40+ yard TD Recieving bonus</label>
              <div class="col-sm-3">
                <input style="min-width: 50px"
                       type="number"
                       id="bonus40YardRecTd"
                       formControlName="bonus40YardRecTd"
                       class="form-control">
              </div>
            </div>
            <div class="form-group row">
              <label for="bonus50YardRecTd" class="col-sm-9 col-form-label">50+ yard TD Recieving bonus</label>
              <div class="col-sm-3">
                <input style="min-width: 50px"
                       type="number"
                       id="bonus50YardRecTd"
                       formControlName="bonus50YardRecTd"
                       class="form-control">
              </div>
            </div>
            <div class="form-group row">
              <label for="bonus100Rec" class="col-sm-9 col-form-label">100+ yard Recieving game</label>
              <div class="col-sm-3">
                <input style="min-width: 50px"
                       type="number"
                       id="bonus100Rec"
                       formControlName="bonus100Rec"
                       class="form-control">
              </div>
            </div>
            <div class="form-group row">
              <label for="bonus200Rec" class="col-sm-9 col-form-label">200+ yard Recieving game</label>
              <div class="col-sm-3">
                <input style="min-width: 50px"
                       type="number"
                       id="bonus200Rec"
                       formControlName="bonus200Rec"
                       class="form-control">
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>




