<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <form [formGroup]="passingForm">
        <div class="row">
          <div class="col">
            <h3>Standard</h3>
            <div class="form-group row">
              <label for="passYards" class="col-sm-9 col-form-label">Passing Yards per Point</label>
              <div class="col-sm-3">
                <input style="min-width: 50px"
                       type="number"
                       id="passYards"
                       formControlName="passYards"
                       class="form-control">
              </div>
            </div>
            <div class="form-group row">
              <label for="tdPass" class="col-sm-9 col-form-label">TD Pass</label>
              <div class="col-sm-3">
                <input style="min-width: 50px"
                       type="number"
                       id="tdPass"
                       formControlName="tdPass"
                       class="form-control">
              </div>
            </div>
            <div class="form-group row">
              <label for="ptConversion" class="col-sm-9 col-form-label">2pt Conversion</label>
              <div class="col-sm-3">
                <input style="min-width: 50px"
                       type="number"
                       id="ptConversion"
                       formControlName="ptConversion"
                       class="form-control">
              </div>
            </div>
            <div class="form-group row">
              <label for="passInterceptions" class="col-sm-9 col-form-label">Interceptions Thrown</label>
              <div class="col-sm-3">
                <input style="min-width: 50px"
                       type="number"
                       id="passInterceptions"
                       formControlName="passInterceptions"
                       class="form-control">
              </div>
            </div>
            <div class="form-group row">
              <label for="sacked" class="col-sm-9 col-form-label">Sacked</label>
              <div class="col-sm-3">
                <input style="min-width: 50px"
                       type="number"
                       id="sacked"
                       formControlName="sacked"
                       class="form-control">
              </div>
            </div>
            <div class="form-group row">
              <label for="passFumblesLost" class="col-sm-9 col-form-label">Passing Fumbles Lost</label>
              <div class="col-sm-3">
                <input style="min-width: 50px"
                       type="number"
                       id="passFumblesLost"
                       formControlName="passFumblesLost"
                       class="form-control">
              </div>
            </div>
            <div class="form-group row">
              <label for="passAttemptsPerPoint" class="col-sm-9 col-form-label">Passing Attempts per Point</label>
              <div class="col-sm-3">
                <input style="min-width: 50px"
                       type="number"
                       id="passAttemptsPerPoint"
                       formControlName="passAttemptsPerPoint"
                       class="form-control">
              </div>
            </div>
            <div class="form-group row">
              <label for="passCompletionsPerPoint" class="col-sm-9 col-form-label">Passing Completions per Point</label>
              <div class="col-sm-3">
                <input style="min-width: 50px"
                       type="number"
                       id="passCompletionsPerPoint"
                       formControlName="passCompletionsPerPoint"
                       class="form-control">
              </div>
            </div>
            <div class="form-group row">
              <label for="passIncompletionsPerPoint" class="col-sm-9 col-form-label">Passing Incompletions per Point</label>
              <div class="col-sm-3">
                <input style="min-width: 50px"
                       type="number"
                       id="passIncompletionsPerPoint"
                       formControlName="passIncompletionsPerPoint"
                       class="form-control">
              </div>
            </div>
            <h3>Bonus</h3>
            <div class="form-group row">
              <label for="bonus40YarTd" class="col-sm-9 col-form-label">40+ yard TD Pass bonus</label>
              <div class="col-sm-3">
                <input style="min-width: 50px"
                       type="number"
                       id="bonus40YarTd"
                       formControlName="bonus40YarTd"
                       class="form-control">
              </div>
            </div>
            <div class="form-group row">
              <label for="bonus50YarTd" class="col-sm-9 col-form-label">50+ yard TD Pass bonus</label>
              <div class="col-sm-3">
                <input style="min-width: 50px"
                       type="number"
                       id="bonus50YarTd"
                       formControlName="bonus50YarTd"
                       class="form-control">
              </div>
            </div>
            <div class="form-group row">
              <label for="bonus300Passing" class="col-sm-9 col-form-label">300+ yard Passing game</label>
              <div class="col-sm-3">
                <input style="min-width: 50px"
                       type="number"
                       id="bonus300Passing"
                       formControlName="bonus300Passing"
                       class="form-control">
              </div>
            </div>
            <div class="form-group row">
              <label for="bonus400Passing" class="col-sm-9 col-form-label">400+ yard Passing game</label>
              <div class="col-sm-3">
                <input style="min-width: 50px"
                       type="number"
                       id="bonus400Passing"
                       formControlName="bonus400Passing"
                       class="form-control">
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>


