<div class="row">
  <div class="col w-100">
    <table style="width: 100%; border: solid 1px gray">
      <tr>
        <td style="width: 65%">{{ playerDcItem?.pos }} {{ playerDcItem?.playerName }}</td>
        <td>
          <table style="width: 100%; max-width: 100px">
            <tr>
              <th style="font-size: smaller; text-align: center; background: gainsboro; color: gray">{{ stat_1 }}</th>
              <th style="font-size: smaller; text-align: center; background: gainsboro; color: gray">{{ stat_2 }}</th>
              <th style="font-size: smaller; text-align: center; background: gainsboro; color: gray">{{ stat_3 }}</th>
              <th style="font-size: smaller; text-align: center; background: gainsboro; color: gray">Pts</th>
            </tr>
            <tr>
              <td style="font-size:smaller; text-align: center">{{ playerDcItem?.stat_1 }}</td>
              <td style="font-size:smaller; text-align: center">{{ playerDcItem?.stat_2 }}</td>
              <td style="font-size:smaller; text-align: center">{{ playerDcItem?.stat_3 }}</td>
              <td style="font-size:smaller; text-align: center">{{ playerDcItem?.points | number:'3.2-5' }}</td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </div>
</div>

