<div class="bs-example" style="max-height: 800px; overflow: auto">
  <div class="accordion" id="accordionExample">
    <!-- PASSING -->
    <div class="card">
      <div class="card-header" id="headingPassing">
        <h2 class="mb-0">
          <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#collapsePassing">Passing</button>
        </h2>
      </div>
      <div id="collapsePassing" class="collapse" aria-labelledby="headingPassing" data-parent="#accordionExample">
        <div class="card-body">
          <app-edit-passing></app-edit-passing>
        </div>
      </div>
    </div>
    <!-- RUSING -->
    <div class="card">
      <div class="card-header" id="headingRushing">
        <h2 class="mb-0">
          <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseRushing">Rushing</button>
        </h2>
      </div>
      <div id="collapseRushing" class="collapse" aria-labelledby="headingRushing" data-parent="#accordionExample">
        <div class="card-body">
          <app-edit-rushing></app-edit-rushing>
        </div>
      </div>
    </div>
    <!-- RECIEVING -->
    <div class="card">
      <div class="card-header" id="headingRecieving">
        <h2 class="mb-0">
          <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseRecieving">Recieving</button>
        </h2>
      </div>
      <div id="collapseRecieving" class="collapse" aria-labelledby="headingRecieving" data-parent="#accordionExample">
        <div class="card-body">
          <app-edit-recieving></app-edit-recieving>
        </div>
      </div>
    </div>
    <!-- KICKING -->
    <div class="card">
      <div class="card-header" id="headingKicking">
        <h2 class="mb-0">
          <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseKicking">Kicking</button>
        </h2>
      </div>
      <div id="collapseKicking" class="collapse" aria-labelledby="headingKicking" data-parent="#accordionExample">
        <div class="card-body">
          <app-edit-kicking></app-edit-kicking>
        </div>
      </div>
    </div>
    <!-- DEFENSE & SPECIAL TEAMS -->
    <div class="card">
      <div class="card-header" id="headingDefSpecial">
        <h2 class="mb-0">
          <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseDefSpecial">Defense & Special Teams </button>
        </h2>
      </div>
      <div id="collapseDefSpecial" class="collapse" aria-labelledby="headingDefSpecial" data-parent="#accordionExample">
        <div class="card-body">
          <app-edit-defspecial></app-edit-defspecial>
        </div>
      </div>
    </div>
    <!-- MISC -->
    <div class="card">
      <div class="card-header" id="headingMisc">
        <h2 class="mb-0">
          <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseMisc">Miscellaneous</button>
        </h2>
      </div>
      <div id="collapseMisc" class="collapse" aria-labelledby="headingMisc" data-parent="#accordionExample">
        <div class="card-body">
          <app-edit-misc></app-edit-misc>
        </div>
      </div>
    </div>
    <!-- IDP -->
    <div class="card">
      <div class="card-header" id="headingIDP">
        <h2 class="mb-0">
          <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseIDP">Individual Defensive Players</button>
        </h2>
      </div>
      <div id="collapseIDP" class="collapse" aria-labelledby="headingIDP" data-parent="#accordionExample">
        <div class="card-body">
          <app-edit-idp></app-edit-idp>
        </div>
      </div>
    </div>
  </div>
</div>
