<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <form [formGroup]="idpForm">
        <div class="row">
          <div class="col">
            <h3>Standard</h3>
            <div class="form-group row">
              <label for="soloTackles" class="col-sm-9 col-form-label">Solo Tackles</label>
              <div class="col-sm-3">
                <input style="min-width: 50px"
                       type="number"
                       id="soloTackles"
                       formControlName="soloTackles"
                       class="form-control">
              </div>
            </div>
            <div class="form-group row">
              <label for="assistTackles" class="col-sm-9 col-form-label">Assisted Tackles</label>
              <div class="col-sm-3">
                <input style="min-width: 50px"
                       type="number"
                       id="assistTackles"
                       formControlName="assistTackles"
                       class="form-control">
              </div>
            </div>
            <div class="form-group row">
              <label for="idpInterception" class="col-sm-9 col-form-label">Interceptions</label>
              <div class="col-sm-3">
                <input style="min-width: 50px"
                       type="number"
                       id="idpInterception"
                       formControlName="idpInterception"
                       class="form-control">
              </div>
            </div>
            <div class="form-group row">
              <label for="idpFumnbleRecovery" class="col-sm-9 col-form-label">Each Fumble Recovery</label>
              <div class="col-sm-3">
                <input style="min-width: 50px"
                       type="number"
                       id="idpFumnbleRecovery"
                       formControlName="idpFumnbleRecovery"
                       class="form-control">
              </div>
            </div>
            <div class="form-group row">
              <label for="idpFunbleForce" class="col-sm-9 col-form-label">Each Fumble Forced</label>
              <div class="col-sm-3">
                <input style="min-width: 50px"
                       type="number"
                       id="idpFunbleForce"
                       formControlName="idpFunbleForce"
                       class="form-control">
              </div>
            </div>
            <div class="form-group row">
              <label for="idpSack" class="col-sm-9 col-form-label">Each Sack</label>
              <div class="col-sm-3">
                <input style="min-width: 50px"
                       type="number"
                       id="idpSack"
                       formControlName="idpSack"
                       class="form-control">
              </div>
            </div>
            <div class="form-group row">
              <label for="idpSafety" class="col-sm-9 col-form-label">Each Safety</label>
              <div class="col-sm-3">
                <input style="min-width: 50px"
                       type="number"
                       id="idpSafety"
                       formControlName="idpSafety"
                       class="form-control">
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>



