<div class="row">
  <div class="col-md-12">
    <p>Welcome to MyDraft Angular-Demo single-page application, built with:</p>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <ul>
      <li><a href='https://get.asp.net/'>ASP.NET Core</a> and <a href='https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx'>C#</a> for cross-platform server-side code</li>
      <li><a href='https://angular.io/'>Angular</a> and <a href='http://www.typescriptlang.org/'>TypeScript</a> for client-side code</li>
      <li><a href='http://getbootstrap.com/'>Bootstrap</a> for layout and styling</li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <img src=".\Images\MyDraft.png" style="width:1250px;height:700px; border:inset">
  </div>
</div>
